extends layout
block content
  img(src='./images/au1.jpg',width=1000,height=500,align='left')
  .row 
    .col-lg-12 
      
      h1(align='middle')
        | BUILDING BRIGHT FUTURES SINCE TWO DECADES 
  .row 
    .col-lg-11
      h3(align='middle') 
        | Welcome to Anurag University. We are Telangana’s top Private Institution offering multi-disciplinary courses in Engineering,
        | Agricultural Sciences, Pharmacy, Management and Liberal Arts.
  h3(align='middle') Placement->98%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2000+ Placements&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100+Doctorals